body {
    padding: 0;
    margin: 0;
}

#container {
    line-height: 0;
    white-space: nowrap;
}

.panel {
    display: inline-block;
    overflow: hidden;
    transition-timing-function: ease-in-out;
    transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;
    white-space: nowrap;
}

.panel > .details {
    display: none;
}

.zoomed > .details {
    display: block;
}

.panel > .details {
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 0;
    overflow: hidden;
    padding: 1.0rem;
    position: absolute;
    width: 100%;
}

.panel > .details > .author::before {
    content: "By: ";
}

.panel > .details > .author {
    font-weight: bold;
}

.panel > .details > .description {
    margin-top: 0.5rem;
    font-weight: bold;
}

.panel > .image {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.panel > .image > img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.panel > .details > .title {
    font-size: 1.5rem;
    font-weight: bold;
}
